@page
@model MonthsModel
@{
}

<div style="text-align:center;">

    <form method="get" class="row g-3">

        <div class='col-md-5'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker7'>
                    <div class="col-auto">
                        <input type='number' class="form-control" id="months" name="months" />
                    </div>
                    <div class="col-auto">
                        <input type="submit" value="Загрузить" class="btn btn-primary" />
                    </div>
                </div>

            </div>

        </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <p>Фамилия</p>
            </th>
            @for (int i = (Model.Model[0].Percents.Count()-1)*(-1); i <= 0; i++)
            {
                <th>
                    <p>@DateTime.Now.AddMonths(i).ToShortDateString()</p>
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @if (Model.Model != null)
        {
            @foreach (var item in Model.Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FIO)
                    </td>
                    @foreach (var i in item.Percents)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => i)
                        </td>
                    }
                </tr>
            }
        }

    </tbody>
</table>
</div>
