@page
@model OfficeTime.Pages.Admin.Holidays.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>HolidayView</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HolidayView.Id" />
            <div class="form-group">
                <label asp-for="HolidayView.Datestart" class="control-label"></label>
                <input asp-for="HolidayView.Datestart" class="form-control" />
                <span asp-validation-for="HolidayView.Datestart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HolidayView.Dateend" class="control-label"></label>
                <input asp-for="HolidayView.Dateend" class="form-control" />
                <span asp-validation-for="HolidayView.Dateend" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HolidayView.Pay" class="control-label"></label>
                <input asp-for="HolidayView.Pay" class="form-control" />
                <span asp-validation-for="HolidayView.Pay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HolidayView.Isleadapp" class="control-label"></label>
                <input asp-for="HolidayView.Isleadapp" class="form-control" />
                <span asp-validation-for="HolidayView.Isleadapp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HolidayView.Isdirectorapp" class="control-label"></label>
                <input asp-for="HolidayView.Isdirectorapp" class="form-control" />
                <span asp-validation-for="HolidayView.Isdirectorapp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HolidayView.Datecreate" class="control-label"></label>
                <input asp-for="HolidayView.Datecreate" class="form-control" />
                <span asp-validation-for="HolidayView.Datecreate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HolidayView.Dateapp" class="control-label"></label>
                <input asp-for="HolidayView.Dateapp" class="form-control" />
                <span asp-validation-for="HolidayView.Dateapp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HolidayView.Emp" class="control-label"></label>
                <input asp-for="HolidayView.Emp" class="form-control" />
                <span asp-validation-for="HolidayView.Emp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
