@page
@using OfficeTime.Pages.Admin.Employees
@model EditLKModel

@{
    ViewData["Title"] = "Редактировать";
}

<h1>Редактировать информацию о сотруднике</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Employee.Id" />
            <div class="form-group">
                <label asp-for="Employee.Fio" class="control-label">ФИО</label>
                <input asp-for="Employee.Fio" class="form-control" />
                <span asp-validation-for="Employee.Fio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Telegram" class="control-label"></label>
                <input asp-for="Employee.Telegram" class="form-control" />
                <span asp-validation-for="Employee.Telegram" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Yandex" class="control-label"></label>
                <input asp-for="Employee.Yandex" class="form-control" />
                <span asp-validation-for="Employee.Yandex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Datebirth" class="control-label">Дата рождения</label>
                <input asp-for="Employee.Datebirth" class="form-control" />
                <span asp-validation-for="Employee.Datebirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Password" class="control-label">Пароль</label>
                <input type="password" asp-for="Employee.Password" class="form-control" />
                <span asp-validation-for="Employee.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Details">Вернуться к общей информации</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
