@page
@model PrivacyModel
@{
    ViewData["Title"] = "Справка";
}
<h1>@ViewData["Title"]</h1>

<p>Перед вами административная панель дял агрегирования данных о сотрудниках. В Ваш телеграм, указанный в профиле будут приходить оповещения о подтверждении отпусков и о генерации документов для отдела кадров</p>
